{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>Pest Prediction</h1>
        </div>
        <div class="pestPredictionMethods">
            <div class="form-container">
                <h2>Pest Detection</h2>
                <h3>Upload Image</h3>
                <form id="weather-form" method="post" enctype="multipart/form-data" action="{% url 'upload_image' %}">
                    {% csrf_token %}
                    <input type="file" name="image" accept="image/*">
                    <button type="submit">Submit</button>
                </form>
            </div>
            
        
            <div class="form-container">
                <h3>Select Your Region</h3>
                <form id="weather-form" method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <div>
                        <label for="id_state">State:</label>
                        {{ form.state }}
                    </div>
                    <div>
                        <label for="id_city">City:</label>
                        <select id="id_city" name="city" class="form-control"></select>
                    </div>
                    <button type="button" id="submit-btn">Submit</button>
                </form>
            </div>
            
            
            
            
        </div>
    </div>
    <script src="{% static 'main.js' %}"></script>
    <!-- Your FontAwesome script -->
    <script src="https://kit.fontawesome.com/6eeb0b4185.js" crossorigin="anonymous"></script>
</body>
</html>