/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
        /* Style the form container */
        
            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                
                }
            .cameraHeading{
                margin:40px 110px;
            }
            a{
                font-size: x-large;
            }
            .Predict {
                background-color: #f0f0f0;
                border-radius: 10px;
                padding: 30px 100px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                margin-bottom: 60px;
            }
            .Detect {
                background-color: #f0f0f0;
                border-radius: 10px;
                padding: 30px 60px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                margin-bottom: 60px;
            }

            .card h2 {
                font-size: 24px;
                margin-bottom: 15px;
            }

            .card form {
                margin-top: 15px;
            }

            .card label {
                font-weight: bold;
                margin-bottom: 5px;
            }

            .card select, .card input[type="text"] {
                width: 100%;
                padding: 8px;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            .card button {
                background-color: #007bff;
                color: #fff;
                border: none;
                padding: 10px 20px;
                cursor: pointer;
                border-radius: 5px;
                font-size: 16px;
            }

            .card button:hover {
                background-color: #0056b3;
            }
            h1{
                font-size: 28px; 
                font-weight: bold; 
                text-align: center;
                color: #610C9F; 
                text-transform: uppercase; 
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
                margin-top: 20px; 
                font-family: 'Times New Roman', Times, serif;
            }
            .fa-solid fa-camera{
                color: #007BFF;
    
            }
            body{
                background-color: #C2D9FF;
            }
            .heading{
                margin-bottom: 20px;
            }
            .form-container {
                
                width: 400px;
                height: 300px;
                /* margin: 0 auto; */
                padding: 45px;
                border: 1px solid #ccc;
                border-radius: 5px;
                background-color: #f9f9f9;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
            }
    
            /* Style the form fields and button */
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                /* width: 70%; */
            }
            .main-container{
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .form-container button {
                background-color: #007BFF;
                color: white;
                padding: 10px 15px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                width: 100%;
                font-size: 1.1rem;
    
            }
            h1{
                text-align: center;
            }
            h3{
                font-size: 1.6rem;
            }
            /* Style the button on hover */
            .form-container button:hover {
                background-color: #0056b3;
            }
            .fa-camera {
            font-size: larger;
            padding-left: 170px;
            }        